@layer base {
    * {
        @apply border-border;
    }

    /* Langsung target tag html dan body tanpa & */
    html, body {
        @apply overscroll-y-none;
    }

    body {
        @apply bg-background text-foreground;
        font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
