.cursor-pointer {
    cursor: pointer;
}

/* Transisi halus saat memilih tipe */
label {
    transition: all 0.2s ease-in-out;
}

/* Bottom Sheet Modal khusus untuk Mobile */
@media (max-width: 992px) {
    .modal-bottom-mobile .modal-dialog {
        display: flex;
        align-items: flex-end;
        min-height: 100%;
        margin: 0;
    }

    .modal-bottom-mobile .modal-content {
        border-radius: 1.5rem 1.5rem 0 0 !important;
        border: none;
        padding-bottom: env(safe-area-inset-bottom);
    }
}
